body {
    background-color: black;
}

header {
    background-color: #EADECC;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 120px;
    height: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

header ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 40px;

}

header nav ul li {
    color: rgb(0, 0, 0);
    transition-property: all;
    transition-duration: 0,6s;
    transition-delay: 0,1s;

}

header nav ul li:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    
}


.picture-main {
    margin: 0 auto 0 auto;
    width: 100%;
    
}

.flex-container {
    display: flex;
    justify-content: space-between;
    

}


h1 {
    width: 300px;
    padding: 20px;
    margin: 20px auto 20px auto;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-size: 30px;

}

.picture1 { 
    width: 450px;
    height: 300px;
    margin: 0 auto 0 auto 0;
    display: inline-flex;
}


.picture2 {
    width: 450px;
    height: 300px;
    margin: 0 auto 0 auto;
    display: inline-flex;
}

.picture3 {  
    width: 450px;
    height: 300px;
    margin: 0 auto 0 auto;
    display: inline-flex;
}

.picture-3 {
    width: 225px;
    height: 300px;
    margin: 0 auto 0 auto;
    display: inline-flex;
}

.picture-4 {
    width: 225px;
    height: 300px;
    margin: 0 auto 0 auto;
    display: inline-flex;

}

.my-box1 {
    background-color: #EADECC;
    width: 100%;
    height: 800px;
    justify-content: space-between;

}

.h1-01 {
    color: black;
    font-style: italic;
    font-size: 30px;
}

.logo1 {
width: 350px;
height: 300px;
display: inline-flex;
justify-content: space-between;

}

.logo2 {
    width: 350px;
    height: 300px;
    display: inline-flex;
    justify-content: space-between;
    
}

.logo3 {
    width: 650px;
    height: 300px;
    display: inline-flex;
    justify-content: space-between;
    
}


.portrett { 
    width: 450px;
    height: 500px;
    display: inline-flex;
    margin: 20px 20px 20px 40px;
    
}


.my-box2 {
    background-color: #EADECC;
    width: 100%;
    display: flex;
    justify-content: space-between;
   

}

h2 {
    color: black;
    display: inline-flex;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    padding: 0px 10px 0px 2px;

}

.p1 {
    color: black;
    display: inline-flex;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    padding: 0px 10px 0px 2px;

}

.p2 {
    color: black;
    display: inline-flex;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    padding: 0px 10px 0px 2px;

}

.p3 {
    color: black;
    display: inline-flex;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    padding: 0px 10px 0px 2px;

}

.p4 {
    color: black;
    display: inline-flex;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    padding: 0px 10px 0px 2px;

}

.p5 {
    color: black;
    display: inline-flex;
    text-align: left;
    font-style: normal;
    font-size: 20px;
    padding: 0px 10px 0px 2px;

}

.text-box {
    width: 600px;
    height: 600px;
   padding-right: 400px;
   margin: 0px 20px 20px 20px;
   
}

